In [2]:
import plotly.express as px
from IPython.core.display import HTML

import pandas as pd

df = pd.DataFrame( 
    { 
        "date": [ 
            pd.Timestamp("2000-01-01"), 
            pd.Timestamp("2000-01-02"), 
            pd.Timestamp("2000-01-03"), 
            pd.Timestamp("2000-01-03"), 
            pd.Timestamp("2000-01-04"), 
            pd.Timestamp("2000-01-05"), 
            pd.Timestamp("2000-01-06") 
        ], 
        "return_code": [200, 200, 404, 404, 200, 200, 301] 
    } 
) 

# Print the DataFrame
df

        date  return_code
0 2000-01-01          200
1 2000-01-02          200
2 2000-01-03          404
3 2000-01-03          404
4 2000-01-04          200
5 2000-01-05          200
6 2000-01-06          301

In [16]:
df = px.data.stocks()[["date", "MSFT"]]

In [17]:
df

           date      MSFT
0    2018-01-01  1.000000
1    2018-01-08  1.015988
2    2018-01-15  1.020524
3    2018-01-22  1.066561
4    2018-01-29  1.040708
..          ...       ...
100  2019-12-02  1.720717
101  2019-12-09  1.752239
102  2019-12-16  1.784896
103  2019-12-23  1.802472
104  2019-12-30  1.788185

[105 rows x 2 columns]

In [24]:
# dataframe is transformed, a new one that represents the count of values 
# for the given expression for a time period (like Day)
df = px.data.stocks()[["date", "MSFT"]]

condition = "MSFT > 1.5"
freq = 'D'

dfx = df.eval(f"_Y_ = {condition}")[['date', '_Y_']]
dfx['date'] = pd.to_datetime(dfx['date'])
dfx['_Y_'] = dfx['_Y_'].astype(int)

print(dfx.dtypes)
dfx = dfx.groupby(pd.Grouper(key='date', axis=0, freq=freq), sort=True).sum().reset_index()

agg_value = dfx['_Y_'].apply("sum")

fig = px.line(dfx,
              x='date', 
              y='_Y_', 
              line_shape='spline', 
              width=250,
              height=50,
              template='simple_white')

fig.update_traces(line_color="red")

# fill area under curve
fig.update_traces(fill='tonexty', fillcolor='red')
fig.update_xaxes(visible=False, showticklabels=False, title=None)
fig.update_yaxes(visible=False, showticklabels=False, title=None)
fig.update_layout(
        margin={'t':0,'l':0,'b':0,'r':0}
    )

fig_html = fig.to_html(
            include_plotlyjs="cdn", full_html=False, config={"responsive": True, 'displayModeBar': False}
        )

html = f"""
<table style="border: 1px solid grey;">
<tr>
<td width=30%><h1>{agg_value:{".2f" if isinstance(agg_value, float) else "d"}}</h1></td>
<td>{fig_html}</td>
</tr>
</table>
"""
#display(HTML(html))

date    datetime64[ns]
_Y_              int64
dtype: object

In [197]:
px.data.stocks().eval("MSFT > 1.5")

0      False
1      False
2      False
3      False
4      False
       ...
100     True
101     True
102     True
103     True
104     True
Name: MSFT, Length: 105, dtype: bool

In [19]:

# importing modules 
import pandas as pd 
  
# creating a dataframe df 
df = pd.DataFrame( 
    { 
        "Date": [ 
            pd.Timestamp("2000-11-02"), 
            pd.Timestamp("2000-01-02"), 
            pd.Timestamp("2000-01-09"), 
            pd.Timestamp("2000-03-11"), 
            pd.Timestamp("2000-01-26"), 
            pd.Timestamp("2000-02-16") 
        ], 
        "ID": [1, 2, 3, 4, 5, 6], 
        "Price": [140, 120, 230, 40, 100, 450] 
    } 
) 
  
# show df 
display(df) 
  
# applying the groupby function on df 
df.groupby(pd.Grouper(key='Date', axis=0,  freq='M')).sum() 

print(df.dtypes)

        Date  ID  Price
0 2000-11-02   1    140
1 2000-01-02   2    120
2 2000-01-09   3    230
3 2000-03-11   4     40
4 2000-01-26   5    100
5 2000-02-16   6    450

Date     datetime64[ns]
ID                int64
Price             int64
dtype: object

In [11]:
px.data.wind().eval("""direction == 'W' """)

0      False
1      False
2      False
3      False
4      False
       ...
123    False
124     True
125    False
126    False
127    False
Name: direction, Length: 128, dtype: bool

In [3]:
import pandas as pd

df = pd.read_csv("examples/access.log.1",
              sep=r'\s(?=(?:[^"]*"[^"]*")*[^"]*$)(?![^\[]*\])',
              engine='python',
              usecols=[0, 3, 4, 5, 6, 7, 8],
              names=['ip', 'time', 'request', 'status', 'size', 'referer', 'user_agent'],
              na_values='-',
              header=None
                )
df.head(1000).to_csv('examples

,ip,time,request,status,size,referer,user_agent
0,66.249.67.197,[18/Jul/2011:03:35:52 -0500],"""GET /robots.txt HTTP/1.1""",404,286,"""-""","""Mozilla/5.0 (compatible; Googlebot/2.1; +http..."
1,66.249.68.227,[18/Jul/2011:03:35:52 -0500],"""GET / HTTP/1.1""",200,445,"""-""","""Mozilla/5.0 (compatible; Googlebot/2.1; +http..."
2,123.125.71.32,[18/Jul/2011:04:51:01 -0500],"""GET / HTTP/1.1""",200,445,"""-""","""Mozilla/5.0 (compatible; Baiduspider/2.0; +ht..."
3,123.125.71.20,[18/Jul/2011:04:51:15 -0500],"""GET /?C=D;O=A HTTP/1.1""",200,445,"""-""","""Mozilla/5.0 (compatible; Baiduspider/2.0; +ht..."
4,123.125.71.13,[18/Jul/2011:04:51:21 -0500],"""GET /log/ HTTP/1.1""",200,516,"""-""","""Mozilla/5.0 (compatible; Baiduspider/2.0; +ht..."
...,...,...,...,...,...,...,...
482050,77.173.51.242,[10/Jan/2014:12:21:17 -0600],"""GET / HTTP/1.1""",200,10732,"""-""","""Mozilla/5.0 (X11; Linux i686) AppleWebKit/537..."
482051,208.94.145.109,[10/Jan/2014:12:21:19 -0600],"""HEAD / HTTP/1.1""",200,NaN,"""http://longurl.org""","""LongURL API"""
482052,66.249.66.164,[10/Jan/2014:12:22:33 -0600],"""GET /docs/ijpp/Angelett.pdf HTTP/1.1""",200,61452,"""-""","""SAMSUNG-SGH-E250/1.0 Profile/MIDP-2.0 Configu..."
482053,81.100.51.75,[10/Jan/2014:12:33:28 -0600],"""GET /docs/ijpp/Philo_Courage.pdf HTTP/1.1""",200,242,"""http://www.google.co.uk/url?sa=t&rct=j&q=&esr...","""Mozilla/5.0 (Windows NT 6.2; WOW64; rv:26.0) ..."
482054,81.100.51.75,[10/Jan/2014:12:33:28 -0600],"""GET /favicon.ico HTTP/1.1""",200,242,"""-""","""Mozilla/5.0 (Windows NT 6.2; WOW64; rv:26.0) ..."

In [6]:
import plotly.express as px

px.data.carshare()

     centroid_lat  centroid_lon    car_hours  peak_hour
0       45.471549    -73.588684  1772.750000          2
1       45.543865    -73.562456   986.333333         23
2       45.487640    -73.642767   354.750000         20
3       45.522870    -73.595677   560.166667         23
4       45.453971    -73.738946  2836.666667         19
..            ...           ...          ...        ...
244     45.547171    -73.556258   951.416667          3
245     45.546482    -73.574939   795.416667          2
246     45.495523    -73.627725   425.750000          8
247     45.521199    -73.581789  1044.833333         17
248     45.532564    -73.567535   694.916667          5

[249 rows x 4 columns]